/** 로그인 다이얼로그 스타일링 **/
@media (max-width: 834px) {
    .loginbody .title {
        font-size: 16px;
    }

    .loginbody .subtitle {
        font-size: 14px;
    }

    .loginform .img {
        width: 46px;
        height: 46px;
    }

    .loginbtn {
        width: 240px;
        height: 40px;
    }
}

/** 작성함, 분석함 다이얼로그 스타일링 **/
@media (max-width: 834px) {
    .inputbody .title {
        font-size: 16px;
    }

    .inputbody .subtitle {
        font-size: 14px;
    }

    .inputform p {
        font-size: 14px;
    }

    .inputform input {
        width: 240px;
    }

    .inputform textarea {
        width: 240px;
        height: 80px;
        font-size: 12px;
    }
    
    .writeBtn {
        font-size: 12px;
        width: 260px;
        height: 60px;
    }

    .analyzeBtn {
        font-size: 12px;
        width: 260px;
        height: 60px;
    }
}