/** 로그인 다이얼로그 스타일링 **/
.loginbody {
    text-align: center;
    margin-top: 24px;
}

.loginbody .title {
    font-size: 18px;
    font-weight: bold;
}

.loginbody .subtitle {
    margin-top: 16px;
}

.loginform {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.loginform .img {
    cursor: pointer;
}

.loginbtn {
    width: 280px;
    height: 60px;
    background-color: gray;
    margin: 70px auto;
    border-radius: 24px;
    color: white;
    font-weight: bold;
}

/** 작성 다이얼로그 스타일링 **/
.inputbody {
    text-align: center;
    margin-top: 24px;
}

.inputbody .title {
    font-size: 18px;
    font-weight: bold;
}

.inputform p {
    text-align: left;
    margin-top: 46px;
    margin-left: 24px;
}

.inputform select {
    margin-left: 22px;
    margin-top: 16px;
}

.inputform input {
    width: 280px;
    height: 28px;
    border: 1px solid gray;
    font-size: 14px;
    margin-top: 16px;
    margin-left: 22px;
    padding-left: 8px;
}

.writeBtn {
    width: 420px;
    height: 40px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    margin: 32px auto;
}